# Virtual environment
.venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.sql
*.sqlite

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Dependency directories
lib/
lib64/