
:root{
    --primary-color: #0B63E5;
    --secondary-color: #F0F5FF;
    --text-color : #999fab;
}

.font-semibold{
    font-weight: 500;
}
.p-0{
    padding: 0px;
}
.h-100{
    height: 100%;
}

.m-0{
    margin: 0px ;
}
.mx-2{
    margin: 10px 0px;
}

body{
    margin: 0;
    font-family: "Lexend", sans-serif;
}
h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.015em;
    text-align: left;
    margin: 0px;

}
.container{
    margin: 0 15%;
}
.w-80{
    width: 80%;
}

.row{
    display: flex;
    width: 100%;
}
.items-center{
    align-items: center;
}
.border-left-primary{
    border-left: 3px solid var(--primary-color);
}
.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column !important;
}
.content-center{
    justify-content: center;
}
.pl-5{
    padding-left: 5%;
}

.col-4{
    width: 45%;
}

.col-8{
    width: 55%;
}
.col-6{
    width: 50%;
}
.justify-center{
    display: flex;
    justify-content: center !important;
}
.justify-between{
    display: flex;
    justify-content: space-between !important;
}
.justify-end{
    display: flex;
    justify-content: end !important;
}

.py-5{
    padding: 5% 0px;
}
.text-center{
    text-align: center;
}
.w-100{
    width: 100%;
}
/* Header */



nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 15px 0px;
    align-items: center;
}
.logo{
    display: flex;
    gap: 4px;
    align-items: center;
}

.logo-items-container{
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-items{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 5%;
    color: var(--text-color);

}
li{
    width: 100%;
}

.nav-link{
    cursor: pointer;
}

button{
    background: transparent;
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.btn-secondary{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.btn-primary{
    background-color: var(--primary-color);
    color: #F0F5FF;
}

.btn-white{
    background-color: white;
}
.nav-link.active{
    color: var(--primary-color);
}
.nav-link:hover{
    color: var(--primary-color);
}
.logo-text{
    font-weight: 700px;
    color:  #061C3D;
}


/* End Header */


/* Hero */


.display{
    font-size: 72px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -0.018em;
    text-align: left;
    

}
.hero-desc{
    font-weight: 250;
    line-height: 24px;
    size: 15px;
}
.img-svg-hero{
    width: 100%;
}
.hero-desc-row{
    gap: 30px;
}
.hero-desc-row-text{
    color: #0F9918;
    margin-bottom: 10px;
}
/* End Hero */

/* About */


.about{
    padding: 12px 0;
}
.about-title{
    font-weight: bold;
    font-size: 46px;
    letter-spacing: -1.5%;
    line-height: 50px;
}
.about-text{
    align-items: center;
    gap: 8px;
}
.card{
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 15px;
}

.card-container{
    gap: 10px;
}

.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}
.bg-red{
    background-color: #FEEDFA;
}
.bg-light{
    background: #F5F6F7;

}
.gap-5{
    gap: 5px !important;
}
.gap-10 {
    gap: 10px !important;
}
.text-primary{
    color: var(--primary-color);
}
.text-secondary{
    color: var(--secondary-color);
}
.text-purpule{
    color: #7534FF;
}
p{
    color: var(--text-color);
}
a{
    text-decoration: none;
}
.mt-5{
    margin-top: 5%;
}
.w-60{
    width: 60% !important;
}
/* End About */


/* testi */
.card-img-testi{

}

.bg-green{
    background: #CFEBD1;
}
.bg-rose{
    background: #E3D6FF;
}
.bg-yellow{
    background: #FFE9BD;
}
.bg-blue{
    background: #CEE0FA;
}
/* End test */

/* CTA */

.bg-cta{
    background: #061C3D;
}

.text-white{
    color: #FFFFFF;
}

/* End CTA */
