<section class="py-5">
    <div class="container">
        <div class="about">
            <div class="row justify-between about-text">
                <div class="row justify-between about-text">
                    <img src="{{ url_for('static', filename='images/img-about.svg') }}" alt="" srcset="">
                    <h2>Beautiful UI kit
                        designed to grow
                        your business.</h2>
                </div>
                <p class="justify-end w-40">Bootstrap code with a well-organized Figma file to design & develop your next websites in minutes.</p>
            </div>
            <div class="row justify-between card-container">
                {% include "/items/cards.html" %}
            </div>  
        </div>
    </div>
</section>