<section class="py-5">
    <div class="container">
        <div class="hero row">
            <div class="col-8">
                <div class="hero-text">
                    <div class="display">
                        The easiest way to create your website.
                    </div>
                    <div class="hero-desc mt-5">Zakirsoft gives you everything you need to create your website in minutes.
                        Bootstrap code with a well-organized Figma file to design & develop your next websites in
                        minutes.</div>
                    <div class="hero-desc-row row mt-5">
                        <div class="">
                            <div class="hero-desc-row-text">It’s Simple, Easy to Use</div>
                            <div class="hero-desc-row-text">Available with React & Nuxt.JS</div>
                        </div>
                        <div class="">
                            <div class="hero-desc-row-text">Well-organized Figma File.</div>
                            <div class="hero-desc-row-text">Lifetime Access</div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <button type="button" class="btn-primary">Get Started</button>
                        <button type="button" class="btn-secondary">View Preview</button>
                    </div>
                </div>
            </div>
            <div class="col-4 hero-svg">
                <img class="img-svg-hero" src="{{ url_for('static', filename='/images/img-hero.svg') }}" alt=""
                    srcset="">
            </div>
        </div>
    </div>
</section>