<header >
<nav class="container">
    <div class="logo-items-container">
        <div class="logo">
            <img  src="{{ url_for('static', filename='/images/logo.svg') }}" alt="" srcset="">
            <h2 class="logo-text">Golio</h2>
        </div>
        <div class="nav-items">
                <ul class="nav-list">
                    <li class="nav-link active">Home</li>
                    <li class="nav-link">Portfolio</li>
                    <li class="nav-link">Services</li>
                    <li class="nav-link">Testimonials</li>
                    <li class="nav-link">Pracing</li>
                    <li class="nav-link">FAQs</li>
                </ul>
        </div>
    </div>
    <div>
        <button class="btn-secondary">Contact</button>
        <button class="btn-primary">Request A Quote</button>
    </div>
</nav>
</header>