<section class="py-5 bg-light">
    <div class="container gap-5">
        <div class="text-center d-flex flex-col items-center content-center">
            <h2 class="">Selected
                projects</h2>
                <p class="w-60">Cras imperdiet est eget nulla fringilla, sit amet volutpat sem tristique. Pellentesque quis augue ac mauris posuere vehicula.</p>
        </div>
        <div class="row justify-between card-container mt-5">
                {% include "/items/selected_card.html" %}
        </div>
    </div>
</section>