<section class="py-5">
    <div class="container gap-5">
        <div class="text-center d-flex flex-col items-center content-center">
            <h2 class="text-center">Say hello to our team members</h2>
                <p class="w-60 text-center">Cras imperdiet est eget nulla fringilla, sit amet volutpat sem tristique. Pellentesque quis augue ac mauris posuere vehicula.</p>
        </div>
        <div class="row justify-between card-container mt-5">
                {% include "/items/testi_card.html" %}
        </div>
    </div>
</section>