<section class="py-5 ">
    <div class="container">
        <div class="row items-center content-center ">
            <div class="col-6 ">
                <div class="">
                    <h2>What our client says
                        about our services.</h2>
                        <div class="border-left-primary">
                            <p class="pl-5 w-80">“This guy is true professional and very experienced in migration and server configuration. He was able to complete my order in time and as per agreed scope. Highly recommend!”</p>
                        </div>
                </div>
            </div>
            <div class="col-6">
                <img width="100%" src="{{url_for('static', filename='images/ui/testi.jpg')}}" alt="img testi" srcset="">
            </div>
        </div>
    </div>
</section>