<section class="py-5">
    <div class="container">
        <div class="row items-center">
            <h4 class="trusted_by_text text-body">Trusted by <span class="text-primary w-60">17k+</span> world
                largest business company.</h4>
            <div class="sponsors d-flex w-100">
                {% for item in trusted_by %}
                <div class="w-100">
                    <img class="w-100" src="{{ item.img }}" alt="{{ item.name }}" srcset="">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>